/nbproject/private/
/build/
/dist/
/SeriesProjectV2-war/nbproject/private/
/SeriesProjectV2-war/dist/
/SeriesProjectV2-war/build/
/SeriesProjectV2-ejb/dist/
/SeriesProjectV2-ejb/nbproject/private/
/SeriesProjectV2-ejb/build/